extends layout.pug

block content

  include components/header.pug

  .grid.grid--container
    h1.h1 Статьи
    .link-group
      a(href="").link-group__link.link-group__link--active Все
      a(href="").link-group__link Alcantara
      a(href="").link-group__link Швайцер
      a(href="").link-group__link Боксмарк
      a(href="").link-group__link Флекси
      a(href="").link-group__link Полиарт
      a(href="").link-group__link Клей
      a(href="").link-group__link Экзотическая кожа
    hr.hr
    .articles
      -for(x = 0; x < 3; x++)
        .articles__item.item
          .item__img
            img(src="img/article.jpg", alt="")
          .item__container
            .item__title Автомобильная кожа: цена качества
            .item__anons Автомобильная кожа принципиально отличается от мебельной и обувной. Она также изготавливается из кожи животного, однако, имеет особенный способ обработки, который и обуславливает её особенные характеристики.
              br
              | Автокожа, в отличие от мебельной, постоянно подвергается воздействию ультрафиолета, а также сильным перепадам температуры и влажности воздуха. В связи с этим, она должна обладать повышенной прочностью, стойкостью к механическим, химическим и температурным воздействиям.
            a(href="").btn.btn--primary
              i.icon.icon-eye
              span Узнать больше

    include components/pagination.pug

  include components/footer.pug
