extends layout.pug

block content

  include components/header.pug

  .grid.grid--container
    h1.h1 Конфигуратор заказа материала
    header.configurator-header.items
      .item.item--active.item--first Эсторил
      .item.item--active.item--second
        .icon-in-circle
          i.icon.icon-spinner4
        span Цвет
      .item.item--active.item--third
        img(src="img/color.jpg", alt="")
        span # 9903
        a(href="").btn.btn--middle.btn--black-solid
          i.icon.icon-pencil
          span Изменить
    hr.hr
    .turn-phone Чтобы воспользоваться инструментом отреза 
      br
      strong переверните телефон
    .configurator.configurator--third
      .configurator__img
        img(src="img/leather.jpg", alt="")
      .configurator__container.configurator__container--bottom
        .row.configurator__fields
          .col.col--xl-5.col--sm-10.configurator__field.configurator__field--active
            .form-control
              input(id="configurator-super" type="text" placeholder="Укажите количество квадратных метров")
            p.configurator__text Средний размер шкуры (см) - 100 х 200
            label.radio
              input.radio__input(type="radio" name="leather" id="leather-1")
              label.radio__label(for="leather-1")
              span Купить шкуру
            label.radio
              input.radio__input(type="radio" name="leather" id="leather-2")
              label.radio__label(for="leather-2")
              span Купить пол шкуры
            .row.row--sm-center
              .col.col--lg-7.col--sm-6
                .configurator-price
                  span Цена: 
                  span.configurator-price__number
                  span ₽
              .col.col--lg-5.col--sm-6
                .btn.btn--primary.btn--full-width
                  i.icon.icon-cart
                  span В корзину


          .col.col--xl-4.col--sm-10.configurator__field.configurator__field--sm
            .row
              .col.col--sm-6
                .form-control
                  input(id="configurator-height" type="text" placeholder="Ширина")
              .col.col--sm-6
                .form-control
                  input(id="configurator-width" type="text" placeholder="Высота")
            .row.row--sm-center
              .col.col--lg-6.col--sm-6
                .configurator-price
                  span Цена: 
                  span.configurator-price__number
                  span ₽
              .col.col--lg-6.col--sm-6
                .btn.btn--primary.btn--full-width
                  i.sprite.sprite--scissors
                  span Отрезать

          .col.col--xl-7.col--sm-2
            #cropping.icon-btn
              .icon-btn__sprite
                i.sprite.sprite--scissors
              span Инструмент отреза



    .adaptive-table
      table.table.table--cart
        thead
          th Вид
          th Наименование
          th Кол-во
          th Цена
          th Стоимость
          th Редактировать
        tbody
          -for(var x = 0; x < 3; x++)
            tr
              td
                img(src="img/cart-table.jpg", alt="")
              td Боксмарк 6833
              td
                .form-control.form-control--table
                  input(type="text" value="3")
                span пог. м
              td 8 600 р. за пог. м
              td 25 800 р.
              td
                a(href="").icon-in-circle
                  i.icon.icon-pencil
                a(href="").icon-in-circle
                  i.icon.icon-cross
        tfoot
          tr
            td
            td
            td
            td
            td
              span Итого:
              span  31 300 р.
            td
              a(href="").btn.btn--primary
                i.icon.icon-cart
                span Перейти в корзину


  script(src="js/jquery.min.js")
  script(src="js/configurator.js")


  include components/footer.pug
