extends layout.pug

block meta
  title Раздел в разработке – АВТОКОЖА
  meta(name="Description" content="Данный раздел находится еще в разработке. «Автокожа» Краснодар. За подробностями обратитесь по номеру: 8 (800) 30-11-920.")

block content

  include components/header.pug

  .hero.hero--develop
    .hero__bg(style='background-image: url("img/develop-bg.jpg")')
    .grid.grid--container
      .hero__container.container
        img(src="img/cogs.png", alt="")
        .container__title Раздел в разработке

  include components/footer.pug
