extends layout.pug

block content
  header.main-header
    .main-header__top.top
      .grid.grid--container.main-header__container
        a(href="/pages.html").logo
        .top__adress
          i.icon.icon-map
          span г. Краснодар,
          span ул. Ставропольская, 67
        .top__phone
          i.icon.icon-phone-hang-up
          span +7 (861) 239-74-17; 
          span +7 (918) 455-58-61
        a(href="#callback").top__callback.open-modal
          i.icon.icon-phone
          span Перезвонить мне
  #fullpage
    .section
      .grid.grid--container.second-header.second-header--index
        nav.navbar
          .navbar__section.navbar__section--links
            a(href="").navbar__link.navbar__link--home
              i.icon.icon-home3
            i.sprite.sprite--separator
            .mobile-menu-toggle
              span
              span
              span
            a(href="").navbar__link Конфигуратор
            a(href="").navbar__link Прайс-лист
            a(href="").navbar__link Доставка и оплата
            a(href="").navbar__link Статьи
            a(href="").navbar__link Отзывы
            a(href="").navbar__link Контакты
          .navbar__section.navbar__section--icons
            i.icon.icon-search
            i.sprite.sprite--separator
            i.icon.icon-user
            i.sprite.sprite--separator
            i.icon.icon-cart
        .mobile-menu
          a(href="").mobile-menu__link Конфигуратор
          a(href="").mobile-menu__link Прайс-лист
          a(href="").mobile-menu__link Доставка и оплата
          a(href="").mobile-menu__link Статьи
          a(href="").mobile-menu__link Отзывы
          a(href="").mobile-menu__link Контакты



      .hero.hero--main
        .hero__bg(style='background-image: url("img/bg-1.jpg")')
        .grid.grid--container
          .hero__container.container
            .container__title Лучшие материалы для
              br
              | салона автомобиля
            .container__subtitle Импорт Alcantara и Швайцер
            .btn.container__btn
              i.icon.icon-equalizer
              span Открыть конфигуратор
    .section
      .hero
        .hero__bg(style='background-image: url("img/main-slider/1.jpg")')
        .grid.grid--container
          .hero__container.container
            .container__title ALCANTARA
            .container__subtitle Люксовые внешние качества материала
            .btn-group
              .btn.btn--solid Колор-карта
              .btn.btn--solid Об Alcantara
              .btn.btn--solid Статьи
              .btn.btn--solid Документация
            .btn.container__btn
              i
              span Купить


    .section.mobile-offset
      .grid.grid--container
        .text-center
          h1.header А также
        .photo-samples.gallery
          -for(var i = 1; i < 5; i++)
            a(href="img/samples-" + i + ".jpg")
              img(src="img/samples-" + i + ".jpg", alt="")
        .row.weird-tables
          .col.col--sm-4
            .weird-table
              .weird-table__title Атомобильная кожа
              a(href="").weird-table__row Эсторил
              a(href="").weird-table__row Виста
              a(href="").weird-table__row Монза и Дакота
              a(href="").weird-table__row Родстар и Имола
          .col.col--sm-4
            .weird-table
              .weird-table__title Атомобильные кожзамы
              a(href="").weird-table__row MAX
              a(href="").weird-table__row ATH
              a(href="").weird-table__row Монза
              a(href="").weird-table__row Родстар
          .col.col--sm-4
            .weird-table
              .weird-table__title Атомобильные нитки
              a(href="").weird-table__row Ситипоинт
              a(href="").weird-table__row Полиарт




    .section.mobile-offset
      .grid.grid--container
        .text-center
          h1.header Отзывы
        .reviews
          -for(var y = 0; y < 3; y++)
            .slide
              .row
                -for(var i = 0; i < 4; i++)
                  .col.col--sm-6
                    a(href="").review
                      .review__img(style="background-image: url(img/review.jpg)")
                      .review__title KADZIM CUSTOMS, Краснодар
                      .review__text Спасибо компании &laquo;
                        strong Автокожа
                        | &raquo;. Коллектив работает слаженно, четко, профессионально. Пользовалась услугами не единожды.

    .section.active
      .grid.grid--container
        .text-center
          h1.header.header--with-subheader Как нас найти?
          p.subheader Наш магазин находится по адресу: Россия,  г. Краснодар ул. Ставропольская, 67
        .map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.223695491337!2d39.0000160152186!3d45.02038427909817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04fdd0906b7e9%3A0x3dab2628ce08587e!2z0YPQuy4g0KHRgtCw0LLRgNC-0L_QvtC70YzRgdC60LDRjywgNjcsINCa0YDQsNGB0L3QvtC00LDRgCwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksIDM1MDAwMQ!5e0!3m2!1sru!2sru!4v1495403956371" frameborder="0" style="border:0" allowfullscreen)
      
      include components/footer.pug



  include components/callback.pug