doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    //- title Автокожа
    block meta
      title
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    main
      block content

    //- include components/footer.pug

    #callback.modal
      .modal__title Обратный звонок
      .modal__subtitle Здравствуйте! Хотите, мы перезвоним Вам бесплатно и все обсудим&hellip;
      form.form.hadoken(action="/mail.php" method="post")
        .form-control
          input(type="tel" name="phone").phone-mask
        .btn.btn--primary
          i.icon.icon-user
          span Хорошо, жду звонка

    #enter.modal
      .modal__title Войти
      form.form(action="/mail.php" method="post")
        .form-control
          input(type="email" name="email" placeholder="Эл. почта")
        .form-control
          input(type="password" name="password" placeholder="Пароль")
        label.checkbox
          input(type="checkbox" id="remember-password")
          label(for="remember-password")
          span Запомнить пароль
        a(href="").link Забыли пароль?
        .modal__btn-group
          .btn.btn--primary
            i.icon.icon-user
            span Войти
          a(href="#registration-individual").btn.btn--primary.btn--empty.open-modal
            i.icon.icon-key
            span Зарегистрироваться

    #registration-individual.modal
      .modal__title Регистрация
      .link-group
        a(href="#registration-individual").link-group__link.link-group__link--active.open-modal Частное лицо
        a(href="#registration-company").link-group__link.open-modal Компания
      form.form
        .form-control
          input(type="text" name="first-name" placeholder="Фамилия")
        .form-control
          input(type="text" name="second-name" placeholder="Имя")
        .form-control
          input(type="text" name="father-name" placeholder="Отчество")
        .form-control
          input(type="tel" name="tel" placeholder="Телефон")
        .form-control
          input(type="email" name="email" placeholder="Эл. почта")
        .form-control
          input(type="text" name="region" placeholder="Регион")
        .form-control
          input(type="text" name="city" placeholder="Город")
        .form-control
          input(type="password" name="first-password" placeholder="Пароль")
        .form-control
          input(type="password" name="second-password" placeholder="Повторите пароль")
        .row
          .col.col--sm-9
            .form-control
              input(type="text" placeholder="Изображение")
          .col.col--sm-3
            label.file-upload
              .btn.btn--empty
                i.icon.icon-upload
                span Выбрать
              input(type="file")
        p Я хочу получать уведомления о статусах заказа по
        label.checkbox
          input(type="checkbox" id="i-want-email")
          label(for="i-want-email")
          span Эл. почта
        label.checkbox
          input(type="checkbox" id="i-want-sms")
          label(for="i-want-sms")
          span Эл. почта
        .modal__info
          label.checkbox
            input(type="checkbox" id="i-want-sms")
            label(for="i-want-sms")
            span Нажимая кнопку «Зарегистрироваться», я принимаю условия 
              a(href="").link Пользовательского соглашения
              |  и даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных Политикой конфиденциальности.
        .modal__btn-group
          .btn.btn--primary.btn--empty
            i.icon.icon-key
            span Зарегистрироваться

    #registration-company.modal
      .modal__title Регистрация
      .link-group
        a(href="#registration-individual").link-group__link.open-modal Частное лицо
        a(href="#registration-company").link-group__link.link-group__link--active.open-modal Компания
      form.form
        .form-control
          input(type="text" name="first-name" placeholder="Фамилия")
        .form-control
          input(type="text" name="second-name" placeholder="Имя")
        .form-control
          input(type="text" name="father-name" placeholder="Отчество")
        .form-control
          input(type="tel" name="tel" placeholder="Телефон")
        .form-control
          input(type="email" name="email" placeholder="Эл. почта")
        .form-control
          input(type="text" name="region" placeholder="Регион")
        .form-control
          input(type="text" name="city" placeholder="Город")
        .form-control
          input(type="password" name="first-password" placeholder="Пароль")
        .form-control
          input(type="password" name="second-password" placeholder="Повторите пароль")
        .row
          .col.col--sm-9
            .form-control
              input(type="text" placeholder="Логотип вашей компании")
          .col.col--sm-3
            label.file-upload
              .btn.btn--empty
                i.icon.icon-upload
                span Выбрать
              input(type="file")
        hr.hr
        .form-control
          input(type="text" placeholder="Название организации")
        .form-control
          input(type="text" placeholder="ИНН")
        .form-control
          input(type="password" placeholder="Пароль")
        .form-control
          input(type="password" placeholder="Повторите пароль")
        p Я хочу получать уведомления о статусах заказа по
        label.checkbox
          input(type="checkbox" id="i-want-email")
          label(for="i-want-email")
          span Эл. почта
        label.checkbox
          input(type="checkbox" id="i-want-sms")
          label(for="i-want-sms")
          span Эл. почта
        .modal__info
          label.checkbox
            input(type="checkbox" id="i-want-sms")
            label(for="i-want-sms")
            span Нажимая кнопку «Зарегистрироваться», я принимаю условия 
              a(href="").link Пользовательского соглашения
              |  и даю своё согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных Политикой конфиденциальности.
        .modal__btn-group
          .btn.btn--primary.btn--empty
            i.icon.icon-key
            span Зарегистрироваться

    script(src="js/jquery.min.js")
    script(src="js/scrolloverflow.js")
    script(src="js/jquery.fullpage.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/jquery.inputmask.bundle.min.js")
    script(src="js/sweetalert.min.js")
    script(src="js/cropper.js")
    
    script(src="js/main.js")
    script(src="js/custom.js")
