doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body

  .container
    h1 Навигация
    nav
      li: a(href="./index.html") Главная
      li: a(href="./price.html") Прайс
      li: a(href="./contacts.html") Контакты

      hr

      li: a(href="./articles.html") Статьи
      li: a(href="./article.html") Статья
      li: a(href="./search.html") Поиск
      li: a(href="./sitemap.html") Карта сайта
      li: a(href="./conditions.html") Условия использования
      li: a(href="./reviews.html") Отзывы
      li: a(href="./cart.html") Корзина
      li: a(href="./delivery.html") Доставка и оплата
      li: a(href="./lk.html") Личный кабинет
      
      hr

      li: a(href="./configurator1.html") Конфигуратор1
      li: a(href="./configurator2.html") Конфигуратор2
      li: a(href="./configurator3.html") Конфигуратор3
      li: a(href="./configurator4.html") Конфигуратор4
      li: a(href="./configurator5.html") Конфигуратор5

