extends layout.pug

block meta
  title Прайс-лист – Цена чехлов для автомобиля – АВТОКОЖА
  meta(name="Description" content="Каталог товаров с ценами. Актокожа – Краснодар. Закажите у нас чехлы для автомобиля высокого качества. Заказ можно сделать через e-mail (avtokoja.ru@mail.ru) либо по телефону +7 (861) 239-7417 или +7 (918) 4555-861.")

block content

  include components/header.pug


  .grid.grid--container
    h1.h1 Прайс лист
    hr.hr
    p В настоящий момент интернет-магазин находится в разработке, скоро вы сможете оформлять и оплачивать заказы за самостоятельно, а пока предлагаем вам сделать заказ через электронную почту info@avtokozha.com или по телефон 8-800-30-11-920 (звонок по России) бесплатный. Мы отправляем заказы любой грузовой компанией на ваш выбор, а также почтой, самолетом и автобусом. Рекомендуем воспользоваться услугами компании СДЭК для маленьких посылок (до 40кг) или услугами компании ПЭК для более габаритных.
    h2.h2 Экокожа (полиуретановая кожа)
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Швайцер
            td текстурная
            td 1500₽/пм
            td 30пм
          tr
            td Швайцер
            td тестурная перфорация
            td 1550₽/пм
            td 30пм
          tr
            td Швайцер
            td текстурная перфорация (рулон)
            td 1300₽/рулон
            td 30пм
          tr
            td Швайцер
            td наппа
            td 1600₽/пм
            td 30пм
          tr
            td Швайцер
            td наппа перфорация
            td 1650₽/пм
            td 30пм
          tr
            td Швайцер
            td декоративная перфорация (для рулей)
            td 1800₽/пм
            td 30пм
    h2.h2 Экокожа (кожзам)
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td АТН
            td яхтенный кожзам
            td 800₽/пм
            td 35пм
          tr
            td МАХ
            td автомобильный кожзам
            td 1100₽/пм
            td 35пм
          tr
            td МАХ биэластик
            td кожзам биэластик для панелей и дверей
            td 1400₽/пм
            td 35пм
          tr
            td Флекси
            td автомобильный кожзам
            td 600₽/пм
            td 40пм
          tr
            td Монза
            td автомобильный кожзам (Германия)
            td 1400₽/пм
            td 35пм
          tr
            td Монза
            td автомобильный кожзам (Польша)
            td 1400₽/пм
            td 35пм
          tr
            td Флекси
              span.sale (распродажа)
            td автомобильный кожзам (Турция)
            td 700₽/пм
            td 40пм
          tr
            td Родстар
              span.sale (распродажа)
            td автомобильный кожзам 
            td 600₽/пм
            td 40пм
    h2.h2 Автомобильная кожа наппа
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Эсторил
            td наппа
            td 4000₽/м2
            td 4,2м2
          tr
            td Эсторил
            td наппа перфорация
            td 4100₽/м2
            td 2,1м2
          tr
            td Виста глатт
            td цветная наппа
            td 2800₽/м2
            td 3,5м2
          tr
            td Виста глатт
            td цветная наппа перфорация
            td 2900₽/м2
            td 1,7м2
          tr
            td Аполло
            td черная и цветная
            td 3500₽/м2
            td 4,1м2
          tr
            td Аполло
            td черная и цветная перфорация
            td 3600₽/м2
            td 2,0м2
          tr
            td Аполло
            td белая
            td 3800₽/м2
            td 3,8м2
          tr
            td Аполло
            td белая перфорация
            td 3900₽/м2
            td 1,9м2
    h2.h2 Автомобильная кожа текстурная
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Эсторил
            td текстурная
            td 2500₽/м2
            td 4,5м2
          tr
            td Эсторил
            td текстурная перфорация
            td 2600₽/м2
            td 2,3м2
          tr
            td Экстрим
            td текстурная
            td 2500₽/м2
            td 3,8м2
          tr
            td Экстрим
            td текстурная перфорация
            td 2600₽/м2
            td 2,2м2
          tr
            td Монза
            td текстурная
            td 3200₽/м2
            td 5,1м2
          tr
            td Монза
            td текстурная перфорация
            td 3400₽/м2
            td 2,3м2
          tr
            td Виста
            td текстурная черная
            td 2300₽/м2
            td 3,3м2
          tr
            td Виста
            td текстурная черная перфорация
            td 2400₽/м2
            td 1,4м2
          tr
            td Виста
            td текстурная цветная
            td 2500₽/м2
            td 3,8м2
          tr
            td Виста
            td текстурная цветная перфорация
            td 2600₽/м2
            td 1,9м2
          tr
            td Верона
            td текстурная
            td 1500₽/м2
            td 3,9м2
          tr
            td Спилок
            td текстурная
            td 1500₽/м2
            td 3,5м2
          tr
            td Экзотика
            td крокодил, страус, питон, скат
            td 3500₽/м2
            td 1,8м2
          tr
            td Родстар (распродажа)
            td текстурная
            td 2500₽/м2
            td 4,5м2
          tr
            td Родстар (распродажа)
            td текстурная перфорация
            td 2600₽/м2
            td 2,3м2

    h2.h2 Алькантара &copy; оригинальная
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Алькантара &copy;
            td без основы
            td 4000₽/пм
            td 40пм
          tr
            td Алькантара &copy;
            td на основе
            td 5500₽/пм
            td 40пм
          tr
            td Алькантара &copy;
            td перфорация
            td 5800₽/пм
            td 40пм

    h2.h2 Искусственные замши
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Эстайп
            td копия Алькантары, на основе (Италия)
            td 3000₽/пм
            td 30пм
          tr
            td Эстайп
            td автомобильный замш (Корея)
            td 1500₽/пм
            td 30пм
    h2.h2 Мебельная кожа
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Мадрас
            td российская мебельная кожа
            td 2000₽/м2
            td 3,8м2
          tr
            td Техас
            td итальянская мебельная кожа
            td 2300₽/м2
            td 4,3м2
    h2.h2 Клей
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td МАХ
            td 800х213
            td 1600₽/шт
            td 615 грамм
    h2.h2 Нитки
    .responsive-table
      table.table
        thead
          th Бренд
          th Модификация
          th Розничная цена
          th Размер рулона
        tbody
          tr
            td Полиарт
            td 15/1000, 20/15000, 40/3000
            td 400₽/шт
            td 10 бобин
          tr
            td Ситипоинт
            td 10/800, 20/1500, 40/3000
            td 500₽/шт
            td 10 бобин


    .small-offset
      i.sprite.sprite--info
      span Все перечисленные товары имеются в наличие и готовы к продаже.
    a(href="./price.xlsx" download).price-info
      i.sprite.sprite--excel
      span Прайс-лист (XLSX; 0.1 мб)
    a(href="./price.pdf" download).price-info
      i.sprite.sprite--pdf
      span Прайс-лист (PDF; 0.5 мб)


  include components/footer.pug
