extends layout.pug

block content

  header.main-header
    .main-header__top.top
      .grid.grid--container
        .row.row--sm-center
          .col.col--sm-12
            a(href="/pages.html").logo Автокожа
            .top__adress
              i.fa.fa-map
              span г. Краснодар, ул. Ставропольская, 67
            .top__phone
              i.fa.fa-phone
              span +7 (861) 239-74-17;  +7 (918) 455-58-61
            .top__callback
              i.fa.fa-phone
              span Перезвонить мне
  .grid.grid--container
    nav.navbar
      .grid.grid--container
        .row
          .col.col--sm-8
            a(href="").navbar__link Конфигуратор
            a(href="").navbar__link Прайс-лист
            a(href="").navbar__link Доставка и оплата
            a(href="").navbar__link Статьи
            a(href="").navbar__link Отзывы
            a(href="").navbar__link Контакты


  .grid.grid--container
    h1.h1 Прайс лист
    hr.separator
    p Заказ можно сделать через e-mail (avtokoja.ru@mail.ru) либо по телефону +7 (861) 239-7417 или +7 (918) 4555-861. Мы доставляем товар любой грузовой компанией на ваш выбор (обычно это ПЭК, Деловые Линии и СДЭК), почтой России, или прямым авиарейсом в ваш город (быстрее и существенно дешевле DHL, в любой город, где есть аэропорт).
    h2.h2 Искусственные автомобильные замши (заменители алькантары)
    .responsive-table
      table.table
        thead
          th Бренд
          th
          th Стоимость
          th Оптовая цена
        tbody
          tr
            td Копия Алькантары
            td Копия автомобильной Алькантары (без брендовой подписи) на основе
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td Эс-тайп
            td Эс-тайп корейский гладкий (распродажа)
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м

    h2.h2 Экокожа
    .responsive-table
      table.table
        thead
          th Бренд
          th
          th Стоимость
          th Оптовая цена
        tbody
          tr
            td ATN
            td 0500, 1376, 1385, 1411
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td MAX
            td Экокожа ATN рулон (35 погонных метров)
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td Флекси
            td 0500, 1017, 1219, 1237, 2116, 2362, 2584, 2837, 3086, 3444
            td 2 000 р. за шт.
            td 2 000 р. за шт.
          tr
            td Родстар
            td Текстурный перфорированный 
            td 8 600 р. за шт.
            td 8 600 р. за шт.
          tr
            td Родстар
            td ПВС, Наппа блэк, Спиди, Биэластик, Аполло, 0500, 1237, 1251
            td 1 500 р. за шт.
            td 2 000 р. за шт.


    h2.h2 Нитки (автомобильные)
    .responsive-table
      table.table
        thead
          th Бренд
          th
          th Стоимость
          th Оптовая цена
        tbody
          tr
            td Полиарт 15/1000
            td Толстые полиэстеровые нитки в бобинах по 1000 метров
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td Полиарт 20/1500
            td Стандартные полиэстеровые нитки в бобинах по 1500 метров
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td Полиарт 40/3000
            td Тонкие полиэстеровые нитки в бобинах по 3000 метров
            td 2 000 р. за шт.
            td 2 000 р. за шт.
          tr
            td Полиарт (упаковка)
            td 10 бобин любой толщины
            td 8 600 р. за шт.
            td 8 600 р. за шт.
          tr
            td Ситипоинт 10/800
            td Толстые нитки (любой цвет) в бобинах по 800 метров
            td 1 500 р. за шт.
            td 2 000 р. за шт.
          tr
            td Полиарт 15/1000
            td Толстые полиэстеровые нитки в бобинах по 1000 метров
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м
          tr
            td Полиарт 20/1500
            td Стандартные полиэстеровые нитки в бобинах по 1500 метров
            td 1 500 р. за пог. м
            td 1 500 р. за пог. м

