extends layout.pug

block content

  include components/header.pug

  .grid.grid--container
    h1.h1 Статьи
    .link-group
      a(href="").link-group__link.link-group__link--active Все
      a(href="").link-group__link Alcantara
      a(href="").link-group__link Швайцер
      a(href="").link-group__link Боксмарк
      a(href="").link-group__link Флекси
      a(href="").link-group__link Полиарт
      a(href="").link-group__link Клей
      a(href="").link-group__link Экзотическая кожа
    hr.hr
    .reviews
      -for(var y = 0; y < 3; y++)
        .slide
          .row
            -for(var i = 0; i < 4; i++)
              .col.col--sm-6
                a(href="").review
                  .review__img(style="background-image: url(img/unknow.jpg)")
                  .review__title —
                  .review__text comming soon


    include components/pagination.pug


  include components/footer.pug
