.turn-phone
  background-color $main
  color #fff
  display none
  margin-bottom 2rem
  padding 2rem
  text-align center
  strong
    color $primary

.configurator
  background-position center top
  background-size cover
  background-repeat no-repeat
  position relative
  width 100%
  &__img
    img
      width 100%
      height 100%
  &__container
    left 0
    justify-content space-between
    padding 0 ((50 / 1620) * 100)%
    position absolute
    top ((80 / 600) * 100)%
    width 100%
    z-index 5
    &--bottom
      // bottom ((50 / 600) * 100)%
      bottom 5rem
      top initial
  .form-control
    display inline-block
    margin-right 1rem
    margin-bottom 1.5rem
  &__links
    margin-bottom ((150 / 415) * 100)%
  &__subtitle
    color #fff
    font-size 2rem
    font-weight 700
    margin-bottom ((45 / 415) * 100)%
  &__text
    color #fff
    margin 0
    margin-bottom 1rem
  .checkbox
    span
      color #fff
  &__link
    color #fff
    cursor pointer
    display table
    font-size 1.8rem
    line-height 1
    margin-bottom ((30 / 415) * 100)%
    padding-left 6rem
    text-decoration none
    position relative
    &:after
      background url('../../img/icons/small-arrow.png') no-repeat
      background-size contain
      content ''
      display block
      left 110%
      opacity 0
      position absolute
      size(15px, 8px)
      top 0
      transform translateX(-5px)
      transition all .2s
    &:hover
      color $primary
      &:after
        opacity 1
        transform none
  &--first
    height ((600 / 966) * 100)vh
  &--third
    min-height 60rem
    margin-bottom 10rem
    position relative
    &:before
      background url('../../img/grid.png')
      content ''
      left 0
      position absolute
      pointer-events none
      top 0
      circle(100%)
      z-index 1
    .configurator
      &__img
        height 60rem
        img
          opacity 0
  .radio
    color #fff
    margin-bottom 2rem

.cropper-bg
  background none

.configurator__field
  &--sm
    .form-control
      display block
      position relative
      &:after
        content 'см'
        font-family $font
        position absolute
        right 1rem
        top 1.2rem

.configurator__width
  display inline-block
  margin-right 4rem
  width ((200 / 1620) * 100)%
  &--super
    width ((450 / 1620) * 100)%
  .btn
    text-align center
    width 100%
  .form-control,
  input
    width 100% !important

.configurator__fields
  align-items flex-start
  display flex

.configurator__field
  display none
  &--active
    display inline-block

.configurator-price
  color #fff
  display inline-block
  line-height 1
  margin-right 5rem
  vertical-align middle
  span
    display inline-block
    line-height 1
    margin-right 1rem


.configurator-header.items
  align-items center
  display flex
  clearfix()
  margin-bottom 4rem
  .item
    color #ccc
    align-items center
    display flex
    font-size 1.8rem
    line-height 1
    margin-right 4rem
    &--first
      padding-left 3rem
      position relative
      vertical-align middle
      &:before
        background-color #ccc
        content ''
        display inline-block
        left 0
        position absolute
        size(100%, 2px)
        vertical-align middle
    &--third
      img
        max-width 4.2rem
        margin-right 2rem
      span
        margin-right 2rem
    &--active
      color $main
      font-weight 600


.cropper-point
  circle(0)
  &.point-se
    &:before
      background-color transparent
      background-image url('../../img/icons/configurator-cropper.png') !important
      circle(37px)
      cursor pointer
      cursor hand
      cursor hand
      left -15px
      opacity 1
      position absolute
      top -15px
      z-index 99999


@media(max-width 1600px)
  .configurator
    &__subtitle
      font-size 1.6rem
    &__link
      font-size 1.4rem
      padding-left 4rem
    &__width
      width 20rem
    &__width--super
      width 44rem

@media(max-width 1300px)
  .configurator
    &__link
      padding-left 0
  #cropping
    span
      display none


@media(max-width 1000px)
  .configurator
    &--first
      height initial
      .configurator
        &__container
          padding-top 5rem
          justify-content initial
          position initial
        &__links
          margin-bottom 4rem
        &__link
          margin-bottom 1.5rem
        &__subtitle
          margin-bottom 2rem
        .sprite
          display initial
          margin-bottom initial

// @media(max-width 768px)
//   .configurator
//     &__container
//       position initial
//       top 2rem

@media(max-width 600px)
  .configurator-header.items
    flex-wrap wrap
    .item
      margin-bottom 1rem

@media(max-width 565px)
  .turn-phone
    display block
  .configurator
    &--third
      min-height 0
      height 0
      visibility hidden

