.configurator
  position relative
  &__img
    img
      width 100%
  &__container
    bottom 2rem
    left 2rem
    position absolute
  .form-control
    display inline-block
    margin-right 1rem

.configurator-price
  color #fff
  span
    display inline-block
    margin-right 1rem