.inner-header
  letter-spacing 1px
  margin-bottom 5rem
  padding-left ((30 / 720) * 100)%

.inner-table
  &__row
    border-bottom 1px solid $gray
    padding 2rem 0
    padding-left ((30 / 720) * 100)%
    &:first-child
      border-top 1px solid $gray
    .icon-in-circle
      float left
    span
      vertical-align middle
