.search-result
  margin-bottom 4rem
  &__title
    color $primary
    font-size 2.4rem
    margin-bottom 1rem
    text-decoration none
    &:hover
      color $primary - 10%
  &__text
    margin-bottom 1rem
  &__date
    margin-bottom 1rem
  &__day
    color #aaa
  &__path
    a
      color $primary
      text-decoration none
      &:hover
        color $primary - 10%