#callback.modal
  .modal__title Обратный звонок
  .modal__subtitle Здравствуйте! Хотите, мы перезвоним Вам бесплатно и все обсудим&hellip;
  form.form
    .form-control
      input(type="tel").phone-mask
    .btn.btn--primary
      i.icon.icon-user
      span Хорошо, жду звонка