header.main-header
  .main-header__top.top
    .grid.grid--container.main-header__container
      a(href="/leather/pages.html").logo
      .top__adress
        i.icon.icon-map
        span г. Краснодар,
        span ул. Дзержинского 121/5
      .top__phone
        i.icon.icon-phone-hang-up
        span 8 (800) 30-11-920
      a(href="#callback").top__callback.open-modal
        i.icon.icon-phone
        span Перезвонить мне
.grid.grid--container.second-header
  nav.navbar
    .navbar__section.navbar__section--links
      a(href="/leather/index.html").navbar__link.navbar__link--home
        i.icon.icon-home3
      i.sprite.sprite--separator
      .mobile-menu-toggle
        span
        span
        span
      a(href="").navbar__link Конфигуратор
      a(href="/leather/price.html").navbar__link Прайс-лист
      a(href="").navbar__link Доставка и оплата
      a(href="").navbar__link Статьи
      a(href="").navbar__link Отзывы
      a(href="/leather/contacts.html").navbar__link Контакты
    .navbar__section.navbar__section--icons
      i.icon.icon-search
      i.sprite.sprite--separator
      i.icon.icon-user
      i.sprite.sprite--separator
      i.icon.icon-cart
  .mobile-menu
    a(href="").mobile-menu__link Конфигуратор
    a(href="/leather/price.html").mobile-menu__link Прайс-лист
    a(href="").mobile-menu__link Доставка и оплата
    a(href="").mobile-menu__link Статьи
    a(href="").mobile-menu__link Отзывы
    a(href="/lether/contacts.html").mobile-menu__link Контакты