.pagination
  hr.hr
  .pagination__link 
    a(href="") 1
  .pagination__link 
    a(href="") 2
  .pagination__link.pagination__link--active 
    a(href="") 3
  .pagination__link 
    a(href="") 4
  .pagination__link 
    a(href="") 5