#fp-nav,
.fp-slidesNav
  ul li
    margin-bottom 1.5rem
    a
      span
        circle(1rem)
        background #999
        margin -6px
      &.active
        span
          circle(1rem)
          margin -6px
    &:hover
      a
        span
          circle(1rem)
          margin -6px
        &.active
          span
            circle(1rem)
            margin -6px

#fp-nav,
.fp-slidesNav
  ul li
    a
      &.active
        span
          background $main
    &:hover
      a
        span
          background $primary

.fp-slidesNav.bottom
  bottom initial
  margin-top 10rem

.cropper
  &-line
    background-color transparent
  &-view-box
    border-right 1px solid $primary
    border-bottom 1px solid $primary
    outline none
  &-point
    background-color $primary
    opacity 1 !important
  &-line
    pointer-events none

.cropper-crop-box
  transform translateY(0) !important

@media(max-width 1600px)
  .fp-slidesNav.bottom
    margin-top 5rem

@media(max-width 1370)
  margin-top 2rem