.form
  &--inner
    background-color $blue
    padding ((35 / 760) * 100)%

.btn
  background-color $primary
  border none
  border-radius 4px
  color $main
  cursor pointer
  display inline-block
  font-size 1.6rem
  font-weight 700
  line-height 1
  padding 1.6rem 2.5rem
  text-decoration none
  transition background-color .4s
  &:hover
    background-color $primary - 10%
  &--middle
    font-size 1.6rem
    padding 1.4rem 3rem
    .icon
      font-size 1.4rem
  &--solid
    background-color transparent
    border 1px solid #727688
    color #fff
    padding .8rem 2.5rem
    &:hover
      border-color #727688
      background-color #727688
  &--empty
    border 1px solid $primary
    background-color transparent
    color $main
  &--black-solid
    border 1px solid $main
    background-color transparent
    color $main
    &:hover
      background-color $main
      color #fff
  &--full-width
    text-align center
    width 100%
  .icon
    margin-right 1rem
    vertical-align middle
  .icon + span
    text-decoration none
    vertical-align middle
  
  // & + .btn
  //   margin-left 2rem

.form-control
  margin-bottom 3rem
  width 100%
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  select,
  textarea
    background #fff
    border 1px solid $gray
    border-radius $radius
    font-family $font
    font-size 1.6rem
    height 46px
    line-height 46px
    padding-left 1rem
    transition border-color .2s
    width 100%
    -webkit-appearance none
    &:hover
      border-color $light-gray - 10%
    &:focus
      border-color $primary
    &.invalid
      border-color $red
  textarea
    min-height 13.5rem
    resize vertical
  &--table
    display inline-block
    margin-right 1rem
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    select,
    textarea
      background-color $blue
      height 26px
      line-height 26px
      width 5.5rem

.radio
  cursor pointer
  display inline-block
  margin-right 2rem
  margin-top .2rem
  user-select none
  &__input
    display none
    &:checked + .radio__label
      border 2px solid $primary
      &:after
        opacity 1
        height 8px
        width 8px
  &__label
    border-radius 50%
    border 1px solid $light-gray
    cursor pointer
    display inline-block
    height 2.4rem
    margin-right .8rem
    position relative
    vertical-align middle
    transition border .2s
    width 2.4rem
    &:after
      background $primary
      border-radius 50%
      content ''
      opacity 0
      left 0
      right 0
      top 0
      bottom 0
      margin auto
      position absolute
      transition opacity .2s, width .2s, height .2s
      width 2px
      height 2px
  span
    vertical-align middle


.checkbox
  cursor pointer
  display inline-block
  margin-right ((80 / 760) * 100)%
  label
    background transparent
    border-radius $radius
    border 1px solid $gray
    cursor pointer
    display inline-block
    margin-right 1rem
    position relative
    circle(2rem)
    vertical-align middle
    &:after
      color $primary
      content "\ea10"
      display none
      font-family 'IcoMoon-Free'
      font-size 1.4rem
      left 2px
      position absolute
      top -2px
  input
    display none
  input:checked + label:after
    display block
  span
    color $main
    line-height 1
    vertical-align middle

.radios
  clearfix()
  margin-bottom 4rem
  &__left
    float left
  &__right
    float right

.radio
  cursor pointer
  display inline-block
  margin-right 2rem
  margin-top .2rem
  user-select none
  &__img
    display inline-block
    margin-right 2rem
    vertical-align middle
  &__input
    display none
    &:checked + .radio__label
      &:after
        opacity 1
        height 12px
        width 12px
  &__label
    border-radius 50%
    border 1px solid $light-gray
    cursor pointer
    display inline-block
    height 2rem
    margin-right .8rem
    position relative
    vertical-align middle
    transition border .2s
    width 2rem
    &:after
      background $primary
      border-radius 50%
      content ''
      opacity 0
      left 0
      right 0
      top 0
      bottom 0
      margin auto
      position absolute
      transition opacity .2s, width .2s, height .2s
      width 2px
      height 2px
  span
    vertical-align middle
  & + .radio
    margin-left 4rem 

.icon-btn
  cursor pointer
  display inline-block
  &__sprite
    background-color #fff
    border-radius 50%
    circle(37px)
    display inline-block
    margin-right 1rem
    .sprite
      margin 0
      margin-left 1rem
      padding-top 35px
      vertical-align middle
  &--active,
  &:hover
    .icon-btn
      &__sprite
        background-color $primary
  span
    color #fff

.file-upload
  .btn
    text-align center
    width 100%
  input[type="file"]
    display none
    width 100%