.form
  &--inner
    background-color $blue
    padding ((35 / 760) * 100)%

.btn
  background-color $primary
  border none
  border-radius 4px
  color $main
  cursor pointer
  display inline-block
  font-weight 700
  padding 1rem 2.5rem
  transition background-color .4s
  &:hover
    background-color $primary - 10%
  &--middle
    font-size 1.6rem
    padding 1.5rem 3rem
    .icon
      font-size 1.4rem
  &--solid
    background-color transparent
    border 1px solid #727688
    color #fff
    padding .8rem 2.5rem
    &:hover
      border-color #727688
      background-color #727688
  .icon
    margin-right 1rem
    vertical-align middle
  .icon + span
    vertical-align middle

.form-control
  margin-bottom 3rem
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  select,
  textarea
    background #fff
    border 1px solid $gray
    border-radius $radius
    font-family $font
    font-size 1.6rem
    height 46px
    padding-left 1rem
    transition border-color .2s
    width 100%
    -webkit-appearance none
    &:hover
      border-color $light-gray - 10%
    &:focus
      border-color $primary
    &.invalid
      border-color $red
  textarea
    min-height 13.5rem
    resize vertical


.checkbox
  cursor pointer
  display inline-block
  margin-right ((80 / 760) * 100)%
  label
    background transparent
    border-radius $radius
    border 1px solid $gray
    cursor pointer
    display inline-block
    margin-right 1rem
    position relative
    circle(2rem)
    vertical-align middle
    &:after
      color $primary
      content "\f00c"
      display none
      font-family 'FontAwesome'
      font-size 1.4rem
      left 2px
      position absolute
      top -2px
  input
    display none
  input:checked + label:after
    display block
  span
    color $main