.sprite
  background-position 50%
  background-repeat no-repeat
  background-size contain
  display inline-block
  vertical-align middle
  margin-right 1rem
  & + span
    display inline-block
    line-height 1
    vertical-align middle
  &--info
    background-image url('../../img/icons/info.png')
    circle(37px)
  &--excel
    background-image url('../../img/icons/excel.png')
    size(31px, 23px)
  &--pdf
    background-image url('../../img/icons/pdf.png')
    size(31px, 23px)
  &--separator
    background-image url('../../img/icons/separator.png')
    margin 0 2.2rem
    size(28px, 1px)
  &--arrow
    background-image url('../../img/icons/small-arrow.png')
    size(18px, 9px)
    margin-right 2rem
  &--ruble
    background-image url('../../img/icons/ruble.png')
    circle(2.2rem)
  &--configurator
    circle(37px)
    margin-right 2rem
  &--scissors
    background-image url('../../img/icons/scissors.png')
    circle(16px)
  &--configurator-1
    background-image url('../../img/icons/configurator-icon-1.png')
  &--configurator-2
    background-image url('../../img/icons/configurator-icon-2.png')
  &--configurator-3
    background-image url('../../img/icons/configurator-icon-3.png')
  &--configurator-4
    background-image url('../../img/icons/configurator-icon-4.png')
  &--configurator-5
    background-image url('../../img/icons/configurator-icon-5.png')
  &--configurator-6
    background-image url('../../img/icons/configurator-icon-6.png')
  &--configurator-7
    background-image url('../../img/icons/configurator-icon-7.png')


.icon
  vertical-align middle

.ruble
  font-family 'Segoe UI', 'Arial', 'Helvetica', sans-serif
  font-style normal
  margin-right .5rem


.icon-in-circle
  display inline-block
  margin-right 1.5rem
  text-align center
  vertical-align middle
  .icon
    border 1px solid $gray
    border-radius 50%
    circle(3.7rem)
    color $main
    display table-cell
    line-height 1

@media(max-width 1400px)
  .sprite
    &--configurator
      circle(24px)
      margin-right 1rem