.sprite
  background-position 50%
  background-repeat no-repeat
  background-size contain
  display inline-block
  vertical-align middle
  margin-right 1rem
  & + span
    display inline-block
    vertical-align middle
  &--info
    background-image url('../../img/icons/info.png')
    circle(37px)
  &--excel
    background-image url('../../img/icons/excel.png')
    size(31px, 23px)
  &--pdf
    background-image url('../../img/icons/pdf.png')
    size(31px, 23px)
  &--separator
    background-image url('../../img/icons/separator.png')
    margin 0 2.2rem
    size(28px, 1px)


.icon
  vertical-align middle

.icon-in-circle
  display inline-block
  margin-right 1.5rem
  text-align center
  vertical-align middle
  .icon
    border 1px solid $gray
    border-radius 50%
    circle(3.7rem)
    display table-cell
