@media(max-width 1600px)
  .main-header
    &__container
      justify-content space-between
  .navbar
    display flex
    justify-content space-between
    .navbar__section
      &--icons
        margin-left 0
  .review
    &__title
      font-size 1.8rem
    &__text
      font-size 1.6rem
  .header
    margin-bottom 2rem
    margin-top 2rem
    &--with-subheader
      margin-bottom 1.5rem

@media(max-width 1340px)
  .main-header
    &__top
      .top
        &__callback
          .icon
            margin-right 0
          span
            display none
  .navbar
    .navbar__section
      &--icons
        margin-right 2rem

@media(max-width 1300px)
  .grid--container
    padding 0 4%

@media(max-width 1200px)
  .main-header
    &__container
      justify-content space-between
    &__top
      .top
        &__adress,
        &__phone
          span
            &:nth-of-type(2)
              display block
              line-height 1
              margin-left 2.7rem
  .navbar
    &__link
      display none
      &--home
        display initial
  .mobile-menu-toggle
    display inline-block
  .hero
    height 45rem
    .grid--container
      height 100%
    &__bg
      height 45rem
    &__container.container
      .container
        height 100%
  .slide
    overflow hidden
  .review
    &__img
      circle(10rem)
  .mobile-offset
    margin-bottom 5rem

@media(max-width 1000px)
  .grid--container
    padding 0 3%
  .modal
    width 80%
  .main-footer
    p
      display none
  .hero
    &__container.container
      .container
        &__title
          &:before
            display none
    &--develop
      .hero
        &__container.container
          .container
            &__title
              font-size 6rem

@media(max-width 767px)
  // .section
  //   min-height 100vh
  .main-header
    &__top
      .top
        &__adress,
        &__phone
          display none
  .hero
    &__bg
      background-position 20%
      background-size cover !important
    &__container.container
      padding-bottom 2rem
      width 100%
      .container
        &__title
          font-size 3.2rem
  
  .hero
    &--develop
      .hero
        &__container.container
          .container
            &__title
              font-size 4rem
  


@media(max-width 720px)
  .main-footer__top
    .main-footer__nav
      display none
  .copyright
    order 3
  .sitemap-link
    text-align left

@media(max-width 500px)
  .row
    margin 0 -1rem
    margin-bottom 1rem
  .main-header
    &__top
      .top
        &__adress,
        &__phone
          display none
  .hero
    &__container.container
      padding-bottom 2rem
      width 100%
      .container
        &__title
          margin-top 4rem
        &__btn
          text-align center
          width 100%
    &--develop
      .hero
        &__container.container
          .container
            &__title
              font-size 3rem
  .btn-group
    .btn
      display block
      margin-bottom 1rem
      text-align center
  .modal
    padding 4rem 2rem
    width 96%
    &__title
      font-size 2.4rem
    .btn
      text-align center
      width 100%
  .mfp-close,
  .mfp-close:active
    top 1rem
    right 1rem
  .webformula
    margin-top 1rem
    text-align left
  
  .inner-header
    margin-bottom 2rem
  .map--inner
    margin-bottom 4rem
    iframe
      height 30rem
  .checkbox
    margin-bottom 2rem
  .photo-samples
    a
      display block
      width 100%
  .review
    margin-bottom 2rem !important
    &__img
      float none
  
  .btn
    padding 1rem 2.3rem