.modal
  animation bigFadeUp .3s forwards ease
  background #fff
  box-shadow 0 1rem 2rem rgba($main, .1)
  display none
  overflow-X hidden
  margin 10rem auto
  padding ((50 / 920) * 100)%
  position relative
  width 92rem
  &__title
    font-size 3.2rem
    font-weight 700
    letter-spacing 1px
    & + .form
      margin-top 2rem
  &__subtitle
    margin-bottom 2rem
  &__btn-group
    margin-top 2rem
    .btn
      margin-right 2rem
  &__info
    background-color $blue
    margin 4rem (-(90 / 920) * 100)%
    padding 2rem ((90 / 920) * 100)%
  .link-group
    margin 2rem 0

.mfp-ready
  .modal,
  .modal-page
    display block

.mfp-close,
.mfp-close:active
  font-size 4rem
  opacity 1
  // top ((50 / 920) * 100)%
  // right ((50 / 920) * 100)%
  top 2rem
  right 2rem

.mfp-gallery
  .mfp-close,
  .mfp-close:active
    right -5rem
    top 2.5rem

.modal-page
  animation bigFadeLeft .3s forwards ease
  background #fff
  display none
  overflow-Y auto
  size(100vh, 53.5%)
  padding ((70 / 1020) * 100)%
  position absolute
  right -1rem
  top -50vh
  &__title
    font-size 3rem
    font-weight 700
    text-transform uppercase

@media(max-width 767px)
  .mfp-container
    padding 0
  .modal-page
    right 0
    width 100%
