.table
  border-collapse collapse
  // font-size 1.8rem
  margin-bottom 6rem
  text-align left
  width 100%
  thead
    background $secondary
    color #fff
  tr:not(:last-child)
    border-bottom 1px solid $light-gray
  th,
  td
    padding 1rem 2rem
    &:first-child
      width 15%
    &:nth-child(2)
      width 45%
