@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'base/base.styl'
@import 'helpers/helpers.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/typography.styl'
@import 'base/tables.styl'
@import 'base/tabs.styl'
@import 'base/modal.styl'
@import 'base/form.styl'
@import 'base/weird-grid.styl'
@import 'base/accordion.styl'

@import 'modifications/modifications.styl'

@import 'pages/index.styl'
@import 'pages/inner.styl'
@import 'pages/price.styl'
@import 'pages/configurator.styl'
@import 'pages/articles.styl'
@import 'pages/search.styl'
@import 'pages/lk.styl'
@import 'pages/error.styl'


.grid--container
  padding 0 ((140 / 1900) * 100)%
  max-width 100%

.link
  border-bottom 1px solid rgba($primary, .3)
  color $primary
  display inline-block
  line-height 1
  text-decoration none
  transition color .2s, border-color .2s
  &:hover
    color $primary - 8%
    border-color rgba($primary, .6)

.link-group
  display block
  margin-bottom 2rem
  &__link
    color $main
    display inline-block
    margin-right 4rem
    position relative
    text-decoration none
    vertical-align middle
    &:not(:first-child)
      &:after
        background-color $light-gray
        content ''
        display inline-block
        left -2rem
        position absolute
        top 0
        size(80%, 1px)
        vertical-align middle
    &--active,
    &:hover
      color $primary
    &--active
      font-weight 600

.hr
  border none
  border-bottom 1px solid #eaeaea
  margin-bottom 4rem

.logo
  background url('../../img/logo.png') no-repeat
  background-size contain
  color #fff
  display inline-block
  font-weight 600
  letter-spacing 1px
  // margin-right 5rem
  size(2rem, 17rem)
  text-decoration none
  text-transform uppercase


.main-header
  left 0
  position fixed
  position relative
  top 0
  width 100%
  z-index 100
  &__container
    align-items center
    display flex
  &__top
    background-color #000
    color #fff
    .top
      &__adress
        display inline-block
        margin-right (70 / 1625 * 100)%
        .icon
          margin-right 1rem
      &__phone
        display inline-block
        margin-right (200 / 1625 * 100)%
        .icon
          margin-right 1rem
      &__callback
        border-left 1px solid #363636
        border-right 1px solid #363636
        color $primary
        cursor pointer
        display inline-block
        font-size 1.4rem
        font-weight 600
        padding 2rem
        transition all .2s
        text-decoration none
        text-transform uppercase
        .icon
          margin-right 1rem
        &:hover
          color $main
          background-color $primary
  // .row
  //   height 6.5rem
  .logo
    margin-right (95 / 1625 * 100)%

.second-header
  position relative
  &--index
    .navbar
      border-bottom none

.navbar
  border-bottom $border
  padding 2rem 0
  &__link
    color $main
    display inline-block
    text-decoration none
    &:not(:last-child)
      margin-right 3.5rem
    &:hover
      color $primary
    &--home
      margin-left 2rem
      margin-right 0 !important
  .sprite--separator
    vertical-align bottom
  &__section
    display inline-block
    &--icons
      margin-left (490 / 1625 * 100)%
      a
        color $main
        text-decoration none

.mobile-menu
  background-color #fff
  // border-bottom 4px solid $primary
  display none
  left 0
  height calc(100vh - 8rem)
  padding 3rem
  position absolute
  top 6rem
  width 100%
  z-index 50
  &__link
    color $main
    display block
    font-size 1.8rem
    margin-bottom 2.4rem
    text-decoration none
    

.mobile-menu-toggle
  cursor pointer
  display none
  position relative
  size(12px, 15px)
  &:before
    content ''
    left -.8rem
    position absolute
    top -.9rem
    circle(3rem)
  span
    background-color $main
    display block
    height 1px
    position absolute
    top 0
    transition transform .3s
    width 15px
    &:nth-child(2)
      top 5px
    &:nth-child(3)
      top 10px
  &--active
    span
      &:nth-child(1)
        transform rotate(45deg)
        top 5px
      &:nth-child(2)
        opacity 0
      &:nth-child(3)
        transform rotate(-45deg)
        top 5px

.hero
  height calc(100vh - 6rem)
  height 100%
  overflow hidden
  &__bg
    display block
    background-repeat no-repeat
    // background-size cover !important
    background-size cover !important
    height calc(100vh - 6rem)
    position absolute
    z-index -1
    width 100vw
  .grid--container
    height calc(100vh - 6rem)
  &__container.container
    align-content flex-end
    display flex
    flex-flow row wrap
    flex 0 1 100%
    height 100%
    padding-bottom (33 / 780 * 100)%
    width 85rem
    .container
      &__title
        color #fff
        font-size 5rem
        font-weight 700
        line-height 1
        margin-bottom .5rem
        position relative
        &:before
          content ''
          background url('../../img/icons/title-arrow.png')
          size(3.3rem, 2.6rem)
          display block
          left -4rem
          position absolute
          top .7rem
      &__subtitle
        color #fff
        display block
        font-size 1.6rem
        margin-bottom 2rem
        width 100%
      &__btn
        display inline-block
  &--main
    height calc(100vh - 13.5rem)
    .hero
      &__bg
        background-size cover !important
    .grid--container
      height calc(100vh - 13.5rem)
  &--develop
    height calc(100vh - 40rem)
    margin-bottom 0
    & + .main-footer
      margin-top 0
    .grid--container
      height calc(100vh - 40rem)
    .hero
      &__bg
        background-repeat repeat
        background-size initial !important
        height calc(100vh - 40rem)
      &__container.container
        align-items center
        flex-direction column
        justify-content center
        text-align center
        width 100%
        .container
          &__title
            color #3c383b
            font-size 7.2rem
            margin-top 1rem
            &:before
              display none



.btn-group
  display block
  margin-bottom 1rem
  width 100%
  .btn
    padding 1rem 2.5rem
    &:not(:last-child)
      margin-right 1rem


.well
  background-color $blue
  padding (50 / 1620 * 100)% (40 / 1620 * 100)%
  &--info
    margin-bottom 3rem
    padding 5rem (35 / 475 * 100)%
    padding-left (67 / 475 * 100)%
    .info
      &__name
        margin-bottom 2rem
        position relative
        &:before
          content ''
          background url('../../img/icons/small-arrow.png')
          left -2rem
          position absolute
          size(15px, 9px)
          top 2px
      &__offset
        margin-bottom .5rem
    .hr
      margin 2rem 0

.header
  background #fff
  display inline-block
  font-size 3.6rem
  // margin-top (20 / 935 * 100)%
  margin-bottom 5rem
  margin-top 5rem
  position relative
  text-align center
  z-index 5
  &--with-subheader
    line-height 1
    margin-bottom 1rem
    // margin-bottom (50 / 935 * 100)%
  // &:before
  //   background-color $light-gray
  //   content ''
  //   height 1px
  //   left -100%
  //   position absolute
  //   top 55%
  //   width 100vw - ((280 / 1900) * 100)%
  //   z-index 0

.subheader
  margin-bottom 4rem
  margin-top 0

.map
  &--inner
    margin-bottom 10rem
  iframe
    height 70vh
    width 100%

.some-info
  display flex
  .sprite
    flex-shrink 0

.weird-header
  border-bottom 1px solid $light-gray
  font-size 2.2rem
  font-weight 600
  margin-bottom 4rem
  margin-top 6rem
  padding-bottom 3rem
  padding-top 3rem
  position relative
  &:before
    background-color $main
    content ''
    height 4px
    left 0
    position absolute
    top 0
    width 50px

.weird-tables
  padding 0 ((50 / 1620) * 100)%

.weird-table
  padding 0 ((70 / 1620) * 100)%
  &__title
    font-size 1.8rem
    font-weight 600
    margin-bottom ((35 / 935) * 100)%
    margin-top ((70 / 935) * 100)%
  &__row
    color $main
    display block
    line-height 2.5
    text-decoration none
    &:hover
      color $primary
    &:not(:last-child)
      border-bottom 1px solid $gray

.sitemap
  padding-left 0
  &__link
    color $main
    display block
    font-weight 600
    margin-bottom 2rem
    text-decoration none
    &:hover
      color $primary
  ul
    margin-bottom 1rem
    padding-left 2.5rem
    .sitemap
      &__link
        font-weight 400
        margin-bottom 1rem

.pagination
  margin-top 4rem
  a
    color #ababab
    text-decoration none
    &:hover
      color $primary
  &__link
    display inline-block
    margin-right 2rem
    text-decoration none
    vertical-align middle
    &--active
      // background-color $secondary
      border-radius 50%
      font-weight 600
      text-align center
      a
        border-radius 50%
        border 1px solid $primary
        // color #fff
        color $main
        display table-cell
        circle(4rem)
        line-height 1
        padding-top 3px
        vertical-align middle
        

.main-footer
  margin-top 10rem
  &__top
    padding 3rem 0
  &__middle
    background-color $secondary
    color #fff
    padding 4rem 0
  &__bottom
    padding 2rem 0
  p
    display inline-block
    margin 0
    margin-right 3.5rem
  a
    color $main
    text-decoration none
    &:hover
      color $primary
  &__icons
    a
      color #fff
      display inline-block
      font-size 2rem
      vertical-align middle
      text-decoration none
      &:not(:last-child)
        margin-right 2.2rem
      &:hover
        color $primary
  &__nav.nav
    .nav
      &__link
        color $main
        margin-right (50 / 1625 * 100)%
        text-decoration none
        &:hover
          color $primary
  &--index
    .main-footer
      &__bottom
        margin-bottom 6.5rem


.review
  background-color $blue
  display block
  color $main
  clearfix()
  cursor pointer
  margin-bottom 2rem
  padding ((55 / 935) * 100)% ((65 / 780) * 100)%
  text-decoration none
  &__img
    background-size cover
    background-repeat no-repeat
    background-position 50%
    border-radius 50%
    display block
    circle(15rem)
    float left
    margin-right ((40 / 780) * 100)%
  &__title
    font-size 2.4rem
    line-height 1
    margin-bottom 1rem
    margin-top 1.5rem
  &__text
    font-size 1.8rem

.reviews--index
  .col
    &:nth-of-type(3),
    &:nth-of-type(4)
      .review
        margin-bottom 0
  .review
    &:hover
      background-color $secondary
      color #fff
      position relative
      &:before
        background-color $primary
        bottom 0
        content ''
        height 4px
        left ((70 / 780) * 100)%
        position absolute
        width 8.5rem

.reviews--page
  .review
    height calc(100% - 2rem)


.sitemap-link
  text-align right

.webformula
  text-align right
  .icon
    margin-right 1rem
  a
    color #fff
    text-decoration underline
    &:hover
      color $primary

@import 'base/media.styl'